@charset "utf-8";
/* CSS Document */

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td,select { margin: 0; padding: 0; }
input,textarea,select,button{border:none;}
body { font-size: 14px; word-break: break-all; /*background:#FFF;font-family:'Microsoft Yahei';*/}
a { text-decoration: none; }
ol,ul { list-style: none; }
table { border-collapse: collapse; border-spacing: 0; }
img { border: none; }
.dn,.hide { display: none; }
.cf:before, .cf:after { content: ""; display: table; }
.cf:after { clear: both; }
body.pub-bg{background: url(/resource/images/bg.png) repeat-x #ebebeb top; background-size:contain;}