@charset "utf-8";
/* CSS Document */
body{background:#fff;}
.bg1a{background:#009FC8;}
.top{width:100%;height:30px;background:#ebebeb;}
.warp{width:1000px;margin:0 auto;}
.top-left{float:left;line-height:30px;color:#333;}
.top-right{float:right;line-height:30px;overflow:hidden;}
.top-right li{float:left;}
.top-right li a{color:#333;margin:0 15px;display:inline-block;}
.logo-box{height:80px;padding:20px 0;float:left;width:350px;text-align:center;}
.logo-info{float:right;padding:20px 0;height:80px;width:600px;}
.search{float:right;padding:44px 30px;}
.search input[type="text"]{width:400px;height:20px;padding:5px 3px;border:1px solid #009FC8;font-size:14px;vertical-align: middle;font-family:"Microsoft YaHei", 'Myriad Pro','Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;}
.search input[type="button"]{width:80px;display:inline-block;height:32px;background:#009FC8;color:#fff;font-size:14px;vertical-align: middle;cursor: pointer;font-family:"Microsoft YaHei", 'Myriad Pro','Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;}
.nav{height:40px;}
.nav li{float:left;width:105px;height:40px;text-align:center;line-height:40px;margin-right:5px;}
.nav li a{display:block;color:#fff;font-family:"Microsoft YaHei", 'Myriad Pro','Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;}
.nav li a.this{background:#00657E;}
.nav li a:hover{background:#00657E;}
.banner{height:360px;width:100%;overflow:hidden;text-align:center;background:#ebebeb;}

/*main*/
.main{margin-top:20px;}
.main .title{height:40px;line-height:40px;color:#fff;padding:0 10px;}
.main .title span{font-size:16px;font-family:"Microsoft YaHei", 'Myriad Pro','Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;}
.main .title a{font-weight:normal;float:right;color:#fff;}
/*左*/
.main-left{width:250px;float:left;height:362px;overflow:hidden;}
/*中*/
.main-center{width:420px;float:left;height:360px;overflow:hidden;margin-left:20px;border:1px solid #009FC8;}
.main-center .center-pic{height:110px;}
.main-center .tab{overflow:hidden;height:32px;background:#f1f1f1;border-bottom:1px solid #e0e0e0;}
.main-center .tab li{width:100px;height:32px;line-height:32px;text-align:center;float:left;}
.main-center .tab li a{color:#333;display:block;}
.main-center .tab li a.this{background:#009FC8;color:#fff;}
.main-center .tab-content{padding:0 9px;overflow:hidden;}
.main-center .tab-content .tab-title{line-height:30px;text-align:center;}
.main-center .tab-content .tab-title a{color:#01637D;font-weight:bold;}
.main-center .tab-content .tab-title a:hover{text-decoration: underline;}
.main-center .tab-content p{text-indent:24px;line-height:21px;max-height:63px;overflow:hidden;text-align:justify;}
.main-center .tab-content .xiangxi{color:#666;margin:0 5px;}
.main-center .tab-content .xiangxi:hover{color:#01637D;}
.main-center .tab-content ul{margin-top:5px;}
.main-center .tab-content ul li{margin-top:3px;}
.main-center .tab-content ul li a{line-height:20px;height:20px;color:#333;font-size:12px;display:block;width:400px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.main-center .tab-content ul li a:hover{color:#01637D;text-decoration: underline;}
.main-center .tab-content ul li a:before{content:"·";color:#333;font-size:16px;margin-right:5px;text-decoration:none;}
/*右*/
.main-right{width:286px;float:right;height:360px;overflow:hidden;margin-left:20px;border:1px solid #009FC8;}
.main-right .profiles p{line-height:21px;text-indent:24px;padding:0 9px;height:150px;overflow:hidden;}
.main-right .profiles p .xiangxi{color:#666;margin:0 5px;}
.main-right .profiles p .xiangxi:hover{color:#01637D;}
/*腰带广告*/
.main-yd{margin-top:20px;overflow:hidden;}
/*模块*/
.modular{margin-top:20px;border:1px solid #009FC8;}
.modular .title{height:40px;line-height:40px;color:#fff;padding:0 10px;}
.modular .title span{font-size:16px;font-family:"Microsoft YaHei", 'Myriad Pro','Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;}
.modular .title a{font-weight:normal;float:right;color:#fff;}
.modular .zj-info-box{padding:10px;}
.modular .zj-info-box ul{overflow:hidden;width:1200px;}
.modular .zj-info-box li{float:left;margin-right:20px;overflow:hidden;}
.modular .zj-info-box .zj-pic{float:left;width:210px;height:230px;margin-right:10px;}
.modular .zj-info-box .zj-pic img{border:1px solid #e0e0e0;}
.modular .zj-info-box .zj-info{float:left;width:260px;}
.modular .zj-info-box .zj-info .info{height:126px;overflow:hidden;}
.modular .zj-info-box .zj-info .zj-btn{display:block;width:90px;height:30px;border-radius:3px;background:#009FC8;color:#fff;line-height:30px;text-align:center;margin-top:10px;}
.modular .zj-info-box .zj-info p{line-height:21px;}
.modular .zj-info-box .zj-info .name{font-size:18px;color:#333;line-height:45px;margin-right:10px;}
.modular .zj-info-box .zj-info .posi{font-size:14px;color:#333;}
.modular .keshi{height:250px;padding:10px;}
.modular .keshi .pic-box{overflow:hidden;}
.modular .keshi .pic-box ul{width:1020px;}
.modular .keshi .pic-box li{float:left;width:480px;margin-right:20px;height:250px;position:relative;}
.modular .keshi .keshi-title{line-height:30px;background:#F2F2F2;padding:0 10px;}
.modular .keshi .keshi-info{padding:10px 0;height:180px;overflow:hidden;}
.modular .keshi .keshi-info p{line-height:21px;text-indent:14px;}
.modular .keshi .keshi-info a{color:#666;margin:0 5px;}
.modular .keshi .keshi-info a:hover{color:#01637D;}
.modular .keshi .keshi-pic{float:left;margin-right:10px;}

/*页脚*/
.foot{width:100%;height:200px;margin-top:20px;overflow:hidden;}
.foot .logo{padding:10px 0;float:left;width:499px;margin:50px 0;border-right:1px solid #fff;text-align:center;}
.foot-info{float:right;width:340px;padding:40px 80px;margin:20px 0;}
.foot-info li{line-height:18px;margin:5px 0;color:#fff;}







