/**
* CSS themes for simplePagination.js
* Author: Flavius Matis - http://flaviusmatis.github.com/
* URL: https://github.com/flaviusmatis/simplePagination.js
*/

/*------------------------------------*\
	list-content
\*------------------------------------*/
.inblock-theme ul {
	line-height: 28px;
	font-size: 14px;
}
.inblock-theme ul li{
	display: inline-block;
	float: none;
	margin: 0 3px;
}
.inblock-theme ul li a {
	display:block;
	color: #666;
	background:#fbfbfb;
	border:1px solid #ebebeb;
	padding:0 3px;
	min-width:24px;
	text-align:center;
	border-radius:3px;
}
.inblock-theme ul li .current {
	display:block;
	background:#009FC8;
	border:1px solid #0091B6;
	color:#fff;
	min-width:24px;
	text-align:center;
	border-radius:3px;
	padding:0 3px;
}
.inblock-theme ul li .prev.current,
.inblock-theme ul li .next.current {
	text-decoration: none;
}
