<div class="form-group">
  <label for="locationName">位置名称</label>
  <input type="text" class="form-control" id="locationName" readonly v-model="location.name" />
  <input type="hidden" id="locationId" v-model="location.id"/>
</div>
<div class="form-group">
  <label for="contentLink">位置编号</label>
  <input type="text" class="form-control" v-model="location.code"
  {{ #if location.id != null}}
  readonly
  {{/if}}
  />
</div>
<label>配图</label>
<div class="row">
  <div class="col-lg-6">
    <div class="input-group" id="imgContainer">
      <input id="imgUrl" type="text" class="form-control" v-model="content.image" placeholder="图片地址">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" id="imgPicker">选择图片</button>
      </span>
    </div>
  </div>
</div>
<div class="row" style="margin-top:20px;">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img id="contentImg" style="min-height:100px;" v-bind:src="content.image" />
    </a>
  </div>
</div>
<!-- <div class="form-group">
  <label for="contentLink">内容链接</label>
  <input id="link" type="text" class="form-control" v-model="location.link" />
</div> -->
<div class="form-group">
  <label for="summary">简介</label>
  <textarea id="summary" class="form-control" rows="3" v-model="location.summary" ></textarea>
</div>
<div class="form-group">
  <label for="remark">备注</label>
  <textarea id="remark" v-if="location.id" class="form-control" rows="3" v-model="location.remark" readonly></textarea>
  <textarea v-else class="form-control" rows="3" v-model="location.remark"></textarea>
</div>
<div class="form-group">
  <label for="editor">内容</label>
  <textarea name="content" v-model="content.content" id="editor" style="width:600px;height:400px;"></textarea>
</div>
<button id="submitBtn" type="submit" class="btn btn-default">提交</button>
