<div class="form-group">
  <label for="officeName">科室名称</label>
  <input type="text" class="form-control" id="officeName" v-model="office.name" />
  <input type="hidden" id="officeId" v-model="office.id"/>
</div>
<div class="form-group">
  <label for="contentLink">内容链接</label>
  <input type="text" class="form-control" id="contentLink" v-model="office.link" />
</div>
<label>配图</label>
<div class="row">
  <div class="col-lg-6">
    <div class="input-group" id="imgContainer">
      <input id="imgUrl" type="text" class="form-control" v-model="office.image" placeholder="图片地址">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" id="imgPicker">选择图片</button>
      </span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img id="officeImg" v-bind:src="office.image" />
    </a>
  </div>
</div>
<div class="form-group">
  <label for="summary">简介</label>
  <textarea class="form-control" rows="3" v-model="office.summary" ></textarea>
</div>
<div class="form-group">
  <label for="editor">内容</label>
  <textarea id="editor" name="articleContent" class="xheditor" v-model="office.content" style="width:600px;height:400px;"></textarea>
</div>
<button id="submitBtn" type="submit" class="btn btn-default">提交</button>
<button id="deleteBtn" type="button" class="btn btn-danger">删除</button>