<div id="user">
  <div class="form-group col-xs-6 clearfix">
    <label for="userName">用户名</label>
    <input type="text" class="form-control" id="userName">
  </div>
  <div class="form-group col-xs-6 clearfix">
    <label for="nickname">昵称</label>
    <input type="text" class="form-control" id="nickname">
  </div>
  <div class="form-group col-xs-6 clearfix">
    <label for="password clearfix">密码</label>
    <input type="password" class="form-control" id="password">
  </div>
  <div class="form-group col-xs-6  clearfix">
    <label for="password2">密码确认</label>
    <input type="password" class="form-control" id="password2">
  </div>
  <div class="form-group clearfix" style="padding: 15px;">
    <button id="submitBtn" type="submit" class="btn btn-default">提交</button>
  </div>
</div>